.campaign-item{
    border-bottom: 1px solid rgba(128,128,128, 0.25);
    min-height: 50px;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
}

.grey-color{
    color: grey;
}