<app-toolbar [tab_name]="tab_name"></app-toolbar>
<ion-content #scrollElement color="light">
    <!-- TODO: Remove When Ready -->
    <ion-content>
        <img src="assets/images/under_construction.png" alt="under_construction">
    </ion-content>
    <!-- --------------------- -->
    <!-- <ion-list>
        <ion-item *ngFor="let notification of notifications">
            <app-notification-item [notification]="notification"></app-notification-item>
        </ion-item>
    </ion-list> -->
</ion-content>