<ion-toolbar color="primary">
  <ion-title slot="start">{{ 'change-password.title' | translate }}</ion-title>
</ion-toolbar>
<ion-content fullscreen>
  <div class="content-wrapper-center">
    <form class="ion-padding"  [formGroup]="changeForm" (submit)="onChangePassword()">
      <ion-item lines="full">
        <ion-input formControlName="password" name="password" placeholder="{{ 'change-password.new_password' | translate }}" spellcheck="false" autocapitalize="off" [type]="getType2()"></ion-input>
        <ion-icon *ngIf="isActiveToggleTextPassword2" name="eye" color="success" slot="end" (click)="toggleTextPassword2()"></ion-icon>
        <ion-icon *ngIf="!isActiveToggleTextPassword2" name="eye-off-sharp" color="primary" slot="end" (click)="toggleTextPassword2()"></ion-icon>
      </ion-item>
      <ion-item lines="full">
        <ion-input formControlName="password_repeat" name="password" placeholder="{{ 'change-password.repeat_new_password' | translate }}" spellcheck="false" autocapitalize="off" [type]="getType3()"></ion-input>
        <ion-icon *ngIf="isActiveToggleTextPassword3" name="eye" color="success" slot="end" (click)="toggleTextPassword3()"></ion-icon>
        <ion-icon *ngIf="!isActiveToggleTextPassword3" name="eye-off-sharp" color="primary" slot="end" (click)="toggleTextPassword3()"></ion-icon>
      </ion-item>
      <span *ngIf="changeForm.controls['password'].value != changeForm.controls['password_repeat'].value 
      && changeForm.controls['password'].dirty && changeForm.controls['password_repeat'].dirty
      && changeForm.controls['password'].valid && changeForm.controls['password_repeat'].valid" class="error-msg">
        Passwords do not match
      </span>
      <ion-item lines="none">
        <ion-grid>
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-button type="submit" size="default" color="success" expand="block" fill="solid" [disabled]="!changeForm.valid || changeForm.controls['password'].value != changeForm.controls['password_repeat'].value">
                <ion-text>{{ 'change-password.change' | translate }}</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </form>
    </div>
</ion-content>